<!---
<div class="background">
    <div class="main-container">
        <div class="form-container">
          <h1>{{method}} {{type}}</h1>
          <form action="">
            <button type="button" class="close-button" onclick="window.history.back()">X</button>
            <div class="image-container">
              <div class="image-upload">
                <label for="ai">Account ID:</label>
                <input type="text" id="ai" name="ai" required>
              </div>
              <div>
                <label for="profile-image" class="image-preview">
                  <img id="image-preview" src="image.jpg" alt="Profile Image">
                </label>
                
                <label for="profile-image" class="upload-icon" tabindex="0">📷</label>
                <input type="file" id="profile-image" name="profile-image" accept="image/*" onchange="previewImage(event)">
              </div>
            </div>
            
            <div class="basic-info">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" required>
      
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" required>
      
            <div *ngIf="type==='Doctor'">
              <label for="sp">Specialization:</label>
              <input type="text" id="sp" name="sp" required>
            </div>

            <div *ngIf="type==='Doctor'">
              <label for="sp">Subspecialty:</label>
              <input type="text" id="sp" name="sp" required>
            </div>
      
            <label for="pn">Phone Number:</label>
            <input type="tel" id="pn" name="pn">
      
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
      
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
      
            <label for="cpassword">Confirm Password:</label>
            <input type="password" id="cpassword" name="cpassword">
      
            <label for="birthdate">Birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" required>
            
          </div>

            <div class="more">
            <div *ngIf="type==='Doctor'">
              <label for="sp">Specialization:</label>
              <input type="text" id="sp" name="sp" required>
            </div>

            <div *ngIf="type==='Doctor'">
              <label for="sp">Specialization:</label>
              <input type="text" id="sp" name="sp" required>
            </div>

            <div class="buttons-container">
              <button type="submit">Add</button>
              <button type="button" onclick="window.history.back()">Cancel</button>
            </div>
          </div>
          </form>
        </div>
    </div>
</div>
-->


<div class="background-2">
  <div class="main-container-2">
    <div class="form-container2">
      <h1>{{method}} {{type}}</h1>
      <form action="">
        
        <button type="button" class="close-button2" onclick="window.history.back()">X</button>
      
        <div class="image-container">
          <div class="image-upload">
          
          </div>
          <div>
            <label for="profile-image" class="image-preview">
              <img id="image-preview" src="image.jpg" alt="Profile Image">
            </label>
            
            <label for="profile-image" class="upload-icon" tabindex="0">📷</label>
            <input type="file" id="profile-image" name="profile-image" accept="image/*" onchange="previewImage(event)">
          </div>
        </div>

        <div class="basic-info-2">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name">
    
          <label for="age">Age:</label>
          <input type="number" id="age" name="age">
    
          <label for="sex">Gender:</label>
          <select id="sex" name="sex">
            <option value="">- - -</option>
            <option value="male">Male</option>
            <option value="female">Female</option>>
            <option value="undecided">Prefer not to say</option>>
          </select>
    
          <label for="dob">Date of Birth:</label>
          <input type="date" id="dob" name="dob">
    
          <label for="height">Height (cm):</label>
          <input type="number" id="height" name="height">
    
          <label for="weight">Weight (kg):</label>
          <input type="number" id="weight" name="weight">
    
          <label for="religion">Religion:</label>
          <input type="text" id="religion" name="religion">
    
          <label for="nationality">Nationality:</label>
          <input type="text" id="nationality" name="nationality">
    
          <label for="maritalStatus">Marital Status:</label>
          <select id="maritalStatus" name="maritalStatus">
            <option value="">- - -</option>
            <option value="single">Single</option>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
          </select>
    
          <label for="address">Address:</label>
          <textarea id="address" name="address"></textarea>
    
          <div class="buttons-container-2">
            <button type="submit">Submit</button>
            <button type="button" onclick="window.history.back()">Close</button>
          </div>
          
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="background">
  <div class="containerPrescription">

    <div class="form-prescription">

      <form action="">

        <div class="name">

          <label for="">Patient Name</label>

          <div class="nameContainer">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
          </div>

        </div>

        <div class="medication">
          <label for="">Rx: Medication / Strength / Frequency</label>
          <textarea name=""></textarea>
        </div>

        <div class="prescription">
          
          <div>
            <label for="">Physician's E-signature</label>

            <div class="input-border">
              <input type="file" id="profile-image" name="profile-image" accept="image/*" onchange="previewImage(event)">
            </div>

          </div>

          <div>
            <label for="">Data Signed</label>
            <input type="date" class="date">
          </div>
        </div>

        <div class="buttonContainer">
          <button type="button" class="save">Save</button>
          <button type="button" onclick="window.history.back()">Cancel</button>
        </div>

      </form>  

    </div>

  </div>
</div> -->

