<main *ngIf="currentAccount==='doctor'">
  <div class="container-fluid p-4">

    <div class="row">

      <div class="col-lg-6"><!--appointment requests col-->
        <div class="container">
          <div class="hstack gap-2 mb-2 d-flex">
            <i class="bi bi-chevron-left" style="font-size: 2rem;cursor: pointer;" (click)="goBack()"></i>
            <h1 style="margin: 0;">
              Appointment Requests
            </h1>
          </div>

          <div class="row">
            <table class="table table-striped table-borderless rounded-3 overflow-hidden shadow my-2">
              <thead>
                <tr class="table-dark">
                  <th>Patient Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Code</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Name Pangalan</td>
                  <td>December 31, 2023</td>
                  <td>11:59 PM</td>
                  <td>JD93HF</td>
                  <td class="d-flex gap-1 justify-content-end">
                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Reject</button>
                    <button class="btn btn-sm btn-success">Approve</button>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div><!--appointment requests col-->
      
      <div class="col-lg-6"><!--appointments col-->
        <div class="container">
          <div class="hstack gap-2 mb-2">
            <h1 style="margin: 0;">
              Appointments
            </h1>
            <div class="mx-auto hstack gap-2">
              <input class="form-control" type="text" placeholder="Search..">
              <button class="btn btn-secondary ">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
          <div class="row">
            <table class="table table-striped table-borderless rounded-3 overflow-hidden shadow my-2">
              <thead>
                <tr class="table-dark">
                  <th>Patient Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Code</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>place</td>
                  <td>place</td>
                  <td>place</td>
                  <td>place</td>
                  <td class="d-flex gap-1 justify-content-end">
                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Remove</button>
                    <button class="btn btn-sm btn-success">Done</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!--appointments col-->
    </div><!--main row-->

    <!--modals-->
    <!--Remove Appointment-->
    <div class="modal fade" id="removeModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Removal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to remove this appointment from your list?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div><!--main container-->
</main>




<main *ngIf="currentAccount==='patient'">

  <div class="patientAppointment container-fluid p-4">

    <div class="row">

      <div class="hstack gap-2 mb-2 d-flex">
        <i class="bi bi-chevron-left" style="font-size: 2rem;cursor: pointer;" (click)="goBack()"></i>
        <h1 style="margin: 0;">
          Checkups Schedule
        </h1>
      </div>

    
      <table class="table table-striped table-borderless rounded-3 overflow-hidden shadow my-2">
        <thead>
          <tr class="table-dark">
            <th>Doctor's Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>Ayuquoh nah</td>
            <td>December 31, 2023</td>
            <td>11:59 PM</td>
            <td>
              <!-- place -->
              <!-- <div class="pending d-flex gap-2 justify-content-start">
                <i class="bi bi-clock-history"></i>
                <p>Pending</p>
              </div> -->
              <div class="done d-flex gap-2 justify-content-start">
                <i class="bi bi-check2-circle"></i>
                <p>Done</p>
              </div>
              <!-- <div class="cancelled d-flex gap-2 justify-content-start">
                <i class="bi bi-x-circle"></i>
                <p>Cancelled</p>
              </div> -->
            </td>
            <th class="d-flex gap-1 justify-content-end">
              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">View Details</button>
              <button type="button" class="btn btn-sm btn-warning">Archive</button>
            </th>
          </tr> 
        </tbody>

      </table>

      <!-- Modals -->
      <div class="modal fade" id="detailsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Schedule Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Heya there :DD</p>
            </div>
          </div>
        </div>
      </div>
      
      
    </div><!--main row-->

  </div><!--main container-->
</main>