<main>
  <div class="container-fluid p-4">

    <div class="row">

      <div class="col-lg-6"><!--appointment requests col-->
        <div class="container">
          <div class="row row-title">
            <h1 id="doctor">
              Appointment Requests
            </h1>
          </div>

          <div class="row">
            <table class="table table-striped table-borderless rounded-3 overflow-hidden table-shadow my-2">
              <thead>
                <tr class="table-dark">
                  <th>Patient Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>place</th>
                  <td>place</td>
                  <td>place</td>
                  <td>place</td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div><!--appointment requests col-->
      
      <div class="col-lg-6"><!--appointments col-->
        <div class="container">
          <div class="hstack gap-2">
            <h1 id="doctor">
              Appointments
            </h1>
            <div class="mx-auto hstack ">
              <input class="searchbar" type="text" placeholder="Search..">
              <div class="search-button">
                <i class="bi bi-search" style="font-size: 2em"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table table-striped table-borderless rounded-3 overflow-hidden table-shadow my-2">
              <thead>
                <tr class="table-dark">
                  <th>Patient Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>place</th>
                  <td>place</td>
                  <td>place</td>
                  <td>place</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!--appointments col-->

    </div><!--main row-->

  </div><!--main container-->
</main>