<div class="titlebar">
   
    <div class="actions-container">
        <input class="searchbar" type="text" placeholder="Search..">
        <div class="search-button">
            <svg class="search-button" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </div>
    </div>
</div>

<div class="side-by-side-lists">
    <!-- First List Container -->
    <div class="list-container">
        <!-- First Row -->
        <div class="row-title">
            <h1 id="doctor">
                Doctor Accounts List
            </h1>
        </div>
        <div class="row header">
            <div class="col name tb-header">
                Name
            </div>
            <div class="col tb-header">
                Date
            </div>
            <div class="col tb-header">
                Time
            </div>
        </div>

        <!-- First Data Row -->
        <div class="row">
            <div class="col name tb-element">
                Judas B. Balasubas
            </div>
            <div class="col tb-element">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam, ab exercitationem nam excepturi at velit perspiciatis, repellat consectetur commodi voluptate autem recusandae itaque ex unde id eum aspernatur magni.
            </div>
            <div class="col tb-element">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam, ab exercitationem nam excepturi at velit perspiciatis, repellat consectetur commodi voluptate autem recusandae itaque ex unde id eum aspernatur magni.
            </div>
        </div>

        <!-- Second Row -->
        <div class="row">
            <div class="col name tb-element">
                Mary C. Johnson
            </div>
            <div class="col tb-element">
            example description.
            </div>
            <div class="col tb-element">
            example description.
            </div>
        </div>
    </div>

    <!-- Second List Container -->
    <div class="list-container">
        <!-- First Row -->
        <div class="row-title">
            <h1 id="patient">
                Patient Accounts List
            </h1>
        </div>
        
        <div class="row header">
            <div class="col name tb-header">
                Name
            </div>
            <div class="col tb-header">
                Date
            </div>
            <div class="col tb-header">
                Time
            </div>
        </div>

        <!-- First Data Row -->
        <div class="row">
            <div class="col name tb-element">
                Judas B. Balasubas
            </div>
            <div class="col tb-element">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam, ab exercitationem nam excepturi at velit perspiciatis, repellat consectetur commodi voluptate autem recusandae itaque ex unde id eum aspernatur magni.
            </div>
            <div class="col tb-element">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam, ab exercitationem nam excepturi at velit perspiciatis, repellat consectetur commodi voluptate autem recusandae itaque ex unde id eum aspernatur magni.
            </div>
        </div>

        <!-- Second Row -->
        <div class="row">
        
            <div class="col name tb-element">
                Mary C. Johnson
            </div>
            <div class="col tb-element">
            example description.
            </div>
            <div class="col tb-element">
            example description.
            </div>
        </div>
    </div>
</div>
