.image-display{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.table-shadow{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.end{
  justify-content: flex-end;
}

.buttons-row{
  display: flex;
  flex-direction: row;
  align-items: end;
}

h1{
  i{
    cursor: pointer;
  }
}

.bi-x-circle-fill{
  cursor: pointer;
  font-size: 1.3rem;
}

@media screen and (max-width:801px) {

}

@media screen and (max-width:600px) {

}