app-back-button{
  width: 2.2rem;
  margin-right: 0.8rem;
}

i{
  cursor: pointer;
  font-size: 1.3rem;
}

.table-shadow{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:801px) {
    .titlebar{

    }
    .table{
      overflow-x: auto;
    }
}

@media screen and (max-width:600px) {
    .titlebar{
        h1{
            font-size: 1.75rem;
        }
    }
}