<router-outlet></router-outlet>
<main *ngIf="id==='doctor'||id==='patient'">
    <div class="titlebar">
        <div class="title-container">
            <app-back-button></app-back-button>
            <h1 *ngIf="id==='doctor'">
                Doctor Accounts List
            </h1>
            <h1 *ngIf="id==='patient'">
                Patient Accounts List
            </h1>
        </div>
        <div class="actions-container">
            <button type="button" (click)="goAdd('doctor')" *ngIf="id==='doctor'"> Add Doctor</button>
            <button type="button" (click)="goAdd('patient')" *ngIf="id==='patient'"> Add Patient</button>
            <input class="searchbar" type="text" placeholder="Search..">
            <div class="search-button">
                <svg class="search-button" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="list-container">
        <div class="row header">
            <div class="col code tb-header">
                Code
            </div>
            <div class="col name tb-header">
                Name
            </div>
            <div class="col tb-header">
                Specialization
            </div>
            <div class="col tb-header">
                Specialization
            </div>
        </div>
        <div class="row">
            <div class="col code tb-element">
                9C2ND8
            </div>
            <div class="col name tb-element">
                Judas B. Balasubas
            </div>
            <div class="col tb-element">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam, ab exercitationem nam excepturi at velit perspiciatis, repellat consectetur commodi voluptate autem recusandae itaque ex unde id eum aspernatur magni.
            </div>
            <div class="col tb-element">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam, ab exercitationem nam excepturi at velit perspiciatis, repellat consectetur commodi voluptate autem recusandae itaque ex unde id eum aspernatur magni.
            </div>
            <!--
            <div class="options-container">
                <button class="doctor-button" type="button" [routerLink]="['edit']"
                *ngIf="id==='doctor'">
                    Edit
                </button>
                <button class="patient-button" type="button" [routerLink]="['edit']"
                *ngIf="id==='patient'">
                    Edit
                </button>
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </div>
            </div>
            -->
        </div>
        <!--
        <app-table-list *ngFor = "let data of userList"
            userName="{{data.userName}}"
            userCode="{{data.userCode}}"
            accountType="{{data.accountType}}"
        ></app-table-list>
        -->
    </div>
</main>

<main *ngIf="id==='prescriptions'">
    <div class="titlebar">
        <div class="title-container">
            <h1>
                Prescriptions
            </h1>
        </div>
        <div class="actions-container">
            <button type="button" (click)="goPrescriptions()"> Add Prescription </button>
            <input class="searchbar" type="text" placeholder="Search..">
            <div class="search-button">
                <svg class="search-button" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="list-container">
        <div class="row header">
            <div class="col code tb-header">
                PID
            </div>
            <div class="col name tb-header">
                Patient Name
            </div>
            <div class="col tb-header">
                Date
            </div>
            <div class="col tb-header">
                Time
            </div>
            <div class="col tb-header">
                Actions
            </div>
            <div class="col tb-header">
                
            </div>     
        </div>
        <div class="row">
            <div class="col code tb-element">
                9C2ND8
            </div>
            <div class="col name tb-element">
                Judas B. Balasubas
            </div>
            <div class="col tb-element">
                15/12/2023
            </div>
            <div class="col tb-element">
                1
            </div>
            <div class="col tb-element">
                <button type="button" class="view">View</button>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id==='patients'">
    <h1>sanaol patient :D</h1>
</main>