.icon-container,.details-container{
    display: flex;
}
.details-container{
    flex-direction: column;
}
svg{
    padding: 0;
    width: 2rem;
    margin-right: 0.6rem;
}
li{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1.5%;
    width: 100%;
    background-color: #E3E6E6;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    cursor: pointer;
}

li:hover{
    background-color: white;
}
.doctor{
    background-color: #90e0ef;
    border: 1px solid rgb(104, 160, 157);
}
.doctor:hover{
    background-color: #54b6c7;
}
p{
    margin-bottom: 0.2rem;
}
p.name{
    font-style: italic;
    font-size: 80%;
    font-weight: bold;
}
p.creation-date{
    font-size: 70%;
}