.icon-container,.details-container{
    display: flex;
}
.details-container{
    flex-direction: column;
}
svg{
    padding: 0;
    width: 2rem;
    margin-right: 0.6rem;
}
li{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1.5%;
    width: 100%;
    background: linear-gradient(to right, #044b63 0%, #079495 100%);;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
}

li:hover{
    background-color: white;
}
.doctor{
    background: linear-gradient(to right, #079495 0%, #044b63 100%);
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
.doctor:hover{
    background-color: white;
}
p{
    margin-bottom: 0.2rem;
}
p.name{
    font-style: italic;
    font-size: 80%;
    font-weight: bold;
}
p.creation-date{
    font-size: 70%;
}