div{
	display: flex;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    overflow-y: auto;
    justify-content: center;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-image: url(../../assets/images/chuttersnap-rEEvBPZf4CQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%) blur(4px) contrast(50%);
    background-clip: content-box;
}
.color-filter{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(204, 241, 214, 0.669);
}


.container{
    margin: 2rem;
    z-index: 10;
    gap: 1rem;
    background-color: white;
    border-radius: 16px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.8);
    flex-direction: row;
    width: 80rem;
    height: 48rem;
    overflow: hidden;
    box-sizing: border-box;

    .image{
        width: 60rem;
        background-image: url(../../assets/images/cdc-uN8TV9Pw2ik-unsplash.jpg);
        background-size: cover;
        background-position: 40% 50%;
        #doctorAttribution{
            display: none;
        }
        .attribution{
            align-self: flex-end;
            margin: 1rem;
            padding: 0.3rem;
            border-radius: 3px;
            height: 1rem;
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
            gap: 0.2rem;
            a{
                color: rgb(162, 231, 162);
            }
        }
    }
    .form-container{
        width: 100%;
        padding: 3rem;
        flex-direction: column;
        overflow-y: auto;
        #doctorForm{
            display: none;
        }
        #patientForm{
            display: flex;
        }
        h1{
            font-size: 3rem;
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            

            input, button{
                font-size: 1.05rem;
                padding: 0.5rem;
                border: 2px solid rgb(216, 216, 216);
                border-radius: 4px;
            }
            input:focus{
                border-color: #5ECD81;
                outline: 3px solid #75ffa1;   
            }
            .message{  
                font-style: italic;
                line-height: 1.4rem;
            }
            label{
                margin-bottom: 0.4rem;
            }
            button{
                cursor: pointer;
                color: white;
                background-color: #5ECD81;
                border: 0;
            }
            button:hover{
                background-color: #60e189;               
            }
            .account-row,.name-row,.birthday-row,.contact-row{
                flex-direction: column;
            }
            .account-row{
                flex-direction: column;
                button{
                    color:black;
                }
                .buttons-container{
                    flex-direction: row;
                    gap: 0.5rem;
                    .selector-patient{
                        background-color: #5ECD81;
                    }
                    .selector-patient:hover{
                        color: black;
                        background-color: #63f591;
                    }
                    .selector-doctor{
                        background-color: #86c8fb;
                    }
                    .selector-doctor:hover{
                        color: black;
                        background-color: #37a6fb;
                    }
                    .disabled{
                        color: rgba(128, 128, 128, 0.5);
                        background-color: rgba(224, 224, 224, 0.5);
                    }
                }
            }
            .name-row{
                flex-direction: row;
                width: 100%;
                gap: 1rem;
                .first-name,.last-name{
                    width: 100%;
                    flex-direction: column;
                }
            }
            .specialization{
                width: 100%;
                flex-direction: column;
            }
            .birthday-row{

            }
            .contact-row{
                gap: 0.8rem;
                label{
                    margin-bottom: 0;
                }
            }
            .password-row{
                flex-direction: column;
                .password-input{
                    flex-direction: row;
                    gap: 1rem;
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }
            }
            .login{
                color: #60e189;
                font-weight: 700;
            }
            .login:hover{
                color: #28fa6b;
                cursor: pointer;
            }
            
        }
    }
}

@media screen and (max-width:1080px){
    .image{
        display: none;
    }
}

@media screen and (max-width:801px){
    .background,.color-filter{
        display: none;
    }
    main{
        height: 100%;
        padding: 0;
        align-items: flex-start;
    }
    .container{
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0px;
        overflow-y: auto;
        .form-container{
            width: 100%;
            padding: 3rem 2rem;
            form{
                padding: 0;
                .name-row{
                    flex-direction: column;
                }
                .password-row{
                    .password-input{
                        flex-direction: column;
                        box-sizing: border-box;
                        input{
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    .image{
        display: none;
    }
}

@media screen and (max-width:600px){
    
}