<main>
    <div class="background"></div>
    <div class="color-filter" [ngStyle]="bgColor"></div>
    <div class="form-card-container">
        <div class="image" id="containerImage" [ngStyle]="formImage">
            <div class="attribution" *ngIf="attributionDoctor">
                Photo by 
                <a href="https://unsplash.com/@ashkfor121?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    Ashkan Forouzani
                </a> 
                on 
                <a href="https://unsplash.com/photos/person-in-white-and-black-stethoscope-l-NIPb-9Njg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    Unsplash
                </a>
            </div>
            <div class="attribution" *ngIf="!attributionDoctor">
                Photo by 
                <a href="https://unsplash.com/@cdc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    CDC
                </a> 
                on 
                <a href="https://unsplash.com/photos/woman-in-black-crew-neck-t-shirt-wearing-white-face-mask-uN8TV9Pw2ik?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    Unsplash
                </a>
            </div>
        </div>
        
        <div class="form-container">
            <!--form for patient-->
            <form #patientRegForm="ngForm" (ngSubmit)="onSubmit(patientRegForm.value)" class="form-column-gap">
                <h1>MediWISE</h1>
                <p class="message">Account Creation</p>
                <div class="account-row form-column-gap">
                    <label>I am a</label>
                    <div class="hstack gap-2">
                      <input type="radio" class="btn-check" name="role" id="chkPatient" autocomplete="off" value="patient" [(ngModel)]="user.role" (click)="toggleRole('patient')">
                      <label class="btn btn-sm btn-outline-success" for="chkPatient">Patient</label>

                      <input type="radio" class="btn-check" name="role" id="chkDoctor" autocomplete="off" value="doctor" [(ngModel)]="user.role" (click)="toggleRole('doctor')">
                      <label class="btn btn-sm btn-outline-primary" for="chkDoctor">Doctor</label>
                    </div>
                      <!--
                        <button type="button" class="selector-patient">Patient</button>
                        <button type="button" class="selector-doctor disabled">Doctor</button>
                      -->
                </div>
        
                <div class="name-row form-column-gap">
                    <label for="firstname">Name</label>
                    <div class="name-rows form-rows-gap">
                        <input type="text" name="firstname" id="" placeholder="First Name" [(ngModel)]="user.firstname" required #firstname="ngModel" pattern="^[^0-9]+$">
                        <input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="user.lastname" required #lastname="ngModel" pattern="^[^0-9]+$">
                    </div>
                </div>

                <div class="contact-row form-column-gap">
                  <label for="">Email</label>
                  <input type="text" name="email" class="box" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" required>
                </div>

                <div class="password-row form-column-gap">
                    <label for="">Password</label>
                    <div class="password-input form-rows-gap">
                        <input type="password" name="password" placeholder="Enter Password" [(ngModel)]="user.password" required #password="ngModel">
                        <input type="password" name="confPass" placeholder="Confirm Password" [(ngModel)]="user.confPass" required #confPass="ngModel">
                    </div>
                </div>

                <div class="alert alert-info vstack p-3 gap-2 my-1" role="alert" 
                  *ngIf="firstname.invalid||lastname.invalid||email.invalid||password.invalid||confPass.invalid">
                  You must fill up all the fields.
                </div>
        
                <button type="submit" value="Submit" [disabled]="patientRegForm.invalid" class="my-1">Create Account</button>
                <p>Already have an account? <span><a class="login" (click)="goLogin()">Login.</a></span></p>
            </form>
        </div>
    </div>

    
</main>