<main>
    <div class="background"></div>
    <div class="color-filter"></div>
    <div class="form-card-container">
        <div class="image" id="containerImage">
            <div class="attribution" id="doctorAttribution">
                Photo by 
                <a href="https://unsplash.com/@ashkfor121?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    Ashkan Forouzani
                </a> 
                on 
                <a href="https://unsplash.com/photos/person-in-white-and-black-stethoscope-l-NIPb-9Njg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    Unsplash
                </a>
            </div>
            <div class="attribution" id="patientAttribution">
                Photo by 
                <a href="https://unsplash.com/@cdc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    CDC
                </a> 
                on 
                <a href="https://unsplash.com/photos/woman-in-black-crew-neck-t-shirt-wearing-white-face-mask-uN8TV9Pw2ik?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    Unsplash
                </a>
            </div>
        </div>
        
        <div class="form-container">
            <!--form for patient-->
            <form action="" method="" id="patientForm" class="form-column-gap">
                <h1>MediWISE</h1>
                <p class="message">Please use your real name, account verification after creation will ask for your valid ID. </p>
                <div class="account-row form-column-gap">
                    <label for="">I am a</label>
                    <div class="buttons-container form-rows-gap">
                        <button type="button" class="selector-patient">Patient</button>
                        <button type="button" class="selector-doctor disabled" (click)="selectDoctor()">Doctor</button>
                    </div>
                </div>
        
                <div class="name-row form-column-gap">
                    <label for="firstname">Name</label>
                    <div class="name-rows form-rows-gap">
                        <input type="text" name="firstname" id="" placeholder="First Name" required>
                        <input type="text" name="lastname" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="contact-row form-column-gap">
                    <label for="">Contact Information:</label>
                    <input type="text" class="box" placeholder="Phone Number (optional)">
                    <input type="text" name="email" class="box" placeholder="Email" required>
                </div>

                <div class="password-row form-column-gap">
                    <label for="">Password</label>
                    <div class="password-input form-rows-gap">
                        <input type="password" name="password" placeholder="Enter Password" required>
                        <input type="password" name="confirm" placeholder="Confirm Password" required>
                    </div>
                </div>
        
                <button type="submit" form="form1" value="Submit">Create Account</button>
                <p>Already have an account? <span><a class="login" (click)="goLogin()">Login.</a></span></p>
            </form>

            <!--form for doctor-->
            <form action="" method="" id="doctorForm" name="docForm" class="form-column-gap">
                <h1>MediWISE</h1>
                <p class="message">Please use your real name, account verification after creation will ask for your valid ID. </p>
                <div class="account-row form-column-gap">
                    <label for="">I am a</label>
                    <div class="buttons-container form-rows-gap">
                        <button type="button" class="selector-patient disabled" (click)="selectPatient()">Patient</button>
                        <button type="button" class="selector-doctor">Doctor</button>
                    </div>
                </div>
        
                <div class="name-row form-column-gap">
                    <label for="firstname">Name</label>
                    <div class="name-rows form-rows-gap">
                        <input type="text" name="firstname" id="" placeholder="First Name" required>
                        <input type="text" name="lastname" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="birthday-row form-column-gap">
                    <label>Birth Date</label>
                    <input type="date" name="" id="" required>
                </div>

                <div class="password-row form-column-gap">
                    <label for="">Password</label>
                    <div class="password-input form-rows-gap">
                        <input type="password" name="password" placeholder="Enter Password" required>
                        <input type="password" name="confirm" placeholder="Confirm Password" required>
                    </div>
                </div>
        
                <button type="submit" form="form1" value="Submit">Create Account</button>
                <p>Already have an account? <span><a class="login" (click)="goLogin()">Login.</a></span></p>
            </form>
        </div>
    </div>

    
</main>