main{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: grey;
    .background{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        background-image: url(https://images.unsplash.com/photo-1631248055158-edec7a3c072b?q=80&w=2061&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(100%) blur(20px);
    }
}

.container{
    z-index: 10;
    gap: 1rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    flex-direction: row;
    width: 70%;
    overflow: hidden;
    .image{
        width: 50%;
        background-image: url(../../assets/images/cdc-uN8TV9Pw2ik-unsplash.jpg);
        background-size: cover;
        background-position: 40% 50%;
    }
    .form-container{
        width: auto;
        padding: 2rem;
        
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;

            input, button{
                font-size: 1.05rem;
                padding: 0.5rem;
                border: 2px solid rgb(216, 216, 216);
                border-radius: 4px;
            }
            input:focus{
                border-color: #5ECD81;
                outline: 3px solid #75ffa1;   
            }
            h1{
                font-size: 3rem;
                text-align: center;
            }
            p{  
                font-style: italic;
                line-height: 1.4rem;
            }
            label{
                margin-bottom: 0.4rem;
            }
            button{
                cursor: pointer;
                color: white;
                background-color: #5ECD81;
                border: 0;
            }
            button:hover{
                background-color: #60e189;               
            }
            .name-row,.birthday-row,.contact-row{
                gap: 1rem;
                flex-direction: column;
            }
            .name-row{
                flex-direction: row;
                width: 100%;
                .first-name,.last-name{
                    width: 100%;
                    flex-direction: column;
                }
            }
            .birthday-row{
                gap: 0;

            }
            .contact-row{
                gap: 0.8rem;
                label{
                    margin-bottom: 0;
                }
            }
            .password-row{
                flex-direction: column;
                .password-input{
                    flex-direction: row;
                    gap: 1rem;
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }
            }
            
        }
    }
}

