<main>
    <div class="background"></div>
    <div class="container">
        <div class="image">

        </div>
        <div class="form-container">
            <form action="" class="form">
                <h1>MediWISE</h1>
        
                <p>Please use your real name, account verification after creation will ask for your valid ID. </p>
        
                <div class="name-row">
                    <div class="first-name">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" id="" required>
                    </div>
                    <div class="last-name">
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastname" required>
                    </div>
                </div>

                <div class="birthday-row" name="birthday">
                    <label>Birth Date</label>
                    <input type="date" name="" id="" required>
                </div>

                <div class="contact-row">
                    <label for="">Contact Information:</label>
                    <input type="text" class="box" placeholder="Phone Number (optional)">
                    <input type="text" name="email" class="box" placeholder="Email" required>
                </div>

                <div class="password-row">
                    <label for="">Password</label>
                    <div class="password-input">
                        <input type="password" name="password" placeholder="Enter Password" required>
                        <input type="password" name="password" placeholder="Confirm Password" required>
                    </div>
                </div>
        
                <button type="submit" form="form1" value="Submit">Submit</button>
            </form>
        </div>
    </div>
</main>
<!--
<div class="container">
    <div class="side">
        <img src="assets/images/pills.png" alt="patient">
    </div>

    <form action="" class="form">
        <h2>PATIENT MANAGEMENT</h2>

        <p>Please use your real name, account verification <br> after creation will ask for your valid ID </p>

        <div class="inputContainerName">
            <h6>Name:</h6>
            <input type="text" class="boxName" placeholder="First Name">
            <input type="text" class="boxName" placeholder="Last Name">
        </div>

        <div class="inputContainerBirthDay">
            <h6>Birthdate:</h6>
            <input type="Text"  class="boxBirth" placeholder="MM">
            <input type="Text"  class="boxBirth" placeholder="DD">
            <input type="Text" class="boxBirth" placeholder="YY">
        </div>



        <div class="inputContainerContact">
            <h6>Contact Information:</h6>
            <input type="text" class="box" placeholder="Phone Number (optional)">
            <input type="text" name="email" class="box" placeholder="Email">
            <input type="password" name="password" class="boxContact" placeholder="Enter Password">
            <input type="password" name="password" class="boxContact" placeholder="Confirm Password">
        </div>

        <input type="submit" class="sigup" id="submit" value="Sign Up">
    </form>
    
</div>
-->