<router-outlet></router-outlet>
<main>
    <div class="titlebar">
        <div class="title-container">
            <app-back-button></app-back-button>
            <h1>
                Patient Accounts List
            </h1>
        </div>
        <div class="actions-container">
            <button type="button">Add Patient</button>
            <input class="searchbar" type="text" placeholder="Search..">
            <div class="search-button">
                <svg class="search-button" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="list-container">
        <div class="row header">
            <div class="col1 tb-header">
                Code
            </div>
            <div class="col2 tb-header">
                Name
            </div>
        </div>
        <app-table-list *ngFor = "let data of userList"
            userName="{{data.userName}}"
            userCode="{{data.userCode}}"
            accountType="{{data.accountType}}"
        ></app-table-list>
    </div>
</main>