<main>
    <div class="background"></div>
    <div class="color-filter"></div>
    <div class="main-container">
        <div class="image"></div>
        <div class="form-container">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
                <h1>MediWISE</h1>
                <p style="text-align: center;">Welcome!</p>
                <input type="text" name="txt" class="box" placeholder="Email" [(ngModel)]="login.email">
                <input type="password" name="password" class="box" placeholder="Password" [(ngModel)]="login.password">
                <button type="submit">Login</button>
            </form>
            <div class="footer">
                <p>Don't have an account? <span><a class="sign-up" (click)="goRegister()">Sign up!</a></span></p>
            </div>
        </div>
    </div>
</main>