<main>
    <div class="background"></div>
    <div class="color-filter"></div>
    <div class="main-container">
        <div class="image"></div>
        <div class="form-container">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(email.value, password.value)">
                <h1>MediWISE</h1>
                <p style="text-align: center;">Welcome!</p>
                <input type="email" name="email" class="box" placeholder="Email" [(ngModel)]="login.email" #email="ngModel" required>
                <input type="password" name="password" class="box" placeholder="Password" [(ngModel)]="login.password" #password="ngModel" required>

                <div [class]="alertClass">
                  The email or password  you entered is incorrect.
                </div>

                <button type="submit" [disabled]="loginForm.invalid" ngbTooltip="Please comply with all the requirements">Login</button>
            </form>
            <div class="footer">
                <p>Don't have an account? <span><a class="sign-up" (click)="goRegister()">Sign up.</a></span></p>
            </div>
        </div>
    </div>
</main>