<main>
    <div class="background"></div>
    <div class="color-filter"></div>
    <div class="container">
        <div class="image"></div>
        <div class="form-container">
            <form action="" method="">
                <h1>MediWISE</h1>
                <p style="text-align: center;">Welcome back!</p>
                <input type="text" name="email" class="box" placeholder="Enter Email">
                <input type="password" name="password" class="box" placeholder="Enter Password">
                <button type="submit">Login</button>
            </form>
            <div class="footer">
                <button type="button" id="qrlogin" [routerLink]="['qr']">Login via QR Code</button>
                <p>Don't have an account? <span><a class="sign-up" [routerLink]="['register']">Sign up!</a></span></p>
            </div>
        </div>
    </div>
</main>