
<!--admin dash--> 
<main *ngIf="currentAccount === 'admin'" class="admin-container">
  
  <div class="admin container-fluid">

    <div class="row p-5">
      <!--dashboard body-->
      <div class="col-md-9">

        <div class="row">
          
          <div class="patients col-md-3 text-center rounded m-1 p-3" (click)="goPatientList()">
            <h3>TOTAL REGISTERED PATIENTS</h3>
            <p class="number-display">{{patients}}</p>
            <h6>
              Recent Patients: {{recentPatients}}
            </h6>
          </div>

          <div class="doctors col-md-3 text-center rounded m-1 p-3" (click)="goDoctorList()">
            <h3>TOTAL REGISTERED DOCTORS</h3>
            <p class="number-display">{{doctors}}</p>
            <h6>
              Recent Doctors: {{recentDoctors}}
            </h6>
          </div>

          <div class="doctors col-md-3 text-center rounded m-1 p-3 d-flex flex-column align-items-center justify-content-center" [routerLink]="['/settings/admin']">
            <h3>CHANGE ADMIN SETTINGS</h3>
            <h6>
              Click Here
            </h6>
          </div>

        </div>

        <div class="row p-1">

          <div class="graph col rounded mt-3 p-3 h-100">
           <p>GRAPH</p>
          </div>
          
        </div>


      </div>

      <!--recently added column-->
      <div class="col-md-3 text-center">

        <H2 class="mt-3 mb-3">RECENTLY ADDED ACCOUNTS</H2>

          <div class="account rounded mx-1 mb-1 p-2" 
          [routerLink]="['/profile',data.accountType,data.userCode]"
          [ngStyle]="determineListBackground(data.accountType)" 
          *ngFor="let data of recentlyAddedUsers">
            <p><em>{{data.accountType}}</em></p>
            <h1>{{data.userName}}</h1>
            <p>Date Created: {{data.dateCreated}}</p>
          </div>
      </div>
    </div><!--main row-->
  </div><!--admin container-->
</main>


<!--doctor dash-->
<main *ngIf="currentAccount==='doctor'" class="main-Dcontainer">
  
  <div class="doctor container-fluid">

    <div class="row mx-4 mt-3">

      <div class="col-md-8">

        <div class="container my-3 d-flex justify-content-center">

          <div class="col-xl-12 ">

            <div class="row-md text-center p-5">
  
              <h3 class="card-title my-1">Welcome, Doctor {{currentAccountName}}</h3>
              <!-- <p class="card-text">Whatever you do, do with determination. You have one life to live; 
                do your work with passion and give your best.</p> -->
    
            </div>

          </div>

        </div>

        <div class="container my-3">

          <div class="row d-flex justify-content-around">

            <div class="pointer totalPatients col-xl-5 bg-background-tertiary rounded text-center p-5 m-1" [routerLink]="['/accounts/','patient']">
              <h5 class="card-title">Total Patients</h5>
              <p class="card-text">0</p>
            </div>
  
            <div class="pointer totalPrescriptions col-xl-5 bg-background-tertiary rounded text-center p-5 m-1" [routerLink]="['/accounts/','prescriptions']">
              <h5 class="card-title">Total Prescriptions Given</h5>
              <p class="card-text">0</p>
            </div>
  
          </div>

        </div>
    

        <div class="container my-3">
          <div class="row d-flex justify-content-around">
            <div class="totalConsultations col-xl-5 bg-background-tertiary rounded text-center p-5 m-1">
              <h5 class="card-title">Total Consultations Attended</h5>
              <p class="card-text">0</p>
            </div>
  
            <div class="recentAppointments col-xl-5 bg-background-tertiary rounded text-center p-5 m-1">
              <h5 class="card-title">Recent Appointments</h5>
              <p class="card-text">0</p>
            </div>
          </div>
        </div>

      </div>
  
      <div class="checkup col-md-4 bg-background-tertiary rounded text-center my-3 p-3">
        <h2 class="card-title my-3">Checkup Appointments</h2>
        <div class="row"> 
          <p class="appointment card-text rounded p-1 mb-2">APPOINTMENT #</p>
        </div>
        <div class="row">
          <p class="appointment card-text rounded p-1 mb-2">APPOINTMENT #</p>
        </div>  
        <div class="row">
          <p class="appointment card-text rounded p-1 mb-2">APPOINTMENT #</p>
        </div>  
        <button class="btn btn-sm btn-secondary mb-3" [routerLink]="['/appointments']">
          View all
        </button>

      </div>

    </div>

  </div>
</main>


<!--patient dash-->
<main *ngIf="currentAccount==='patient'" class="Pmain-container">

  <div class="patient container-fluid my-4">

    <div class="row">

      <div class="col-lg-7">
        
        <div class="text-center my-4">
          <h3>Hi! {{currentAccountFName}} {{currentAccountName}}</h3>
          <h4>How are you feeling today?</h4>
        </div>
  
        <div class="row d-flex justify-content-around">
  
          <div class="active-prescriptions col-md-5 rounded text-center m-1 p-3 clickable">

            <h5 class="card-title">Active Prescriptions</h5>
            <p class="total">
                0
            </p>

          </div>
    
          <div class="my-doctors col-md-5 rounded text-center m-1 p-3 clickable">

            <h5>My Doctors</h5>
            <p class="total">
                0
            </p>

          </div>
        </div>
  
        <div class="booking row-md rounded m-3 p-5 ">
          <p>booking instructions</p>
        </div>
  
      </div>
  
      <div class="col-md-5 text-center mt-3">

        <h3 class="my-2 mb-4">My Scheduled Checkups</h3>

        <div class="schedule-checkup row rounded mb-2 mx-3 p-2">
          <p>SCHEDULED CHECKUP #</p>
        </div>
        <div class="schedule-checkup row rounded mb-2 mx-3 p-2">
          <p>SCHEDULED CHECKUP #</p>
        </div>
        <div class="schedule-checkup row rounded mb-2 mx-3 p-2">
          <p>SCHEDULED CHECKUP #</p>
        </div>
        <div class="schedule-checkup row rounded mb-2 mx-3 p-2">
          <p>SCHEDULED CHECKUP #</p>
        </div>
        <button class="btn btn-secondary ">View all</button>
      </div>

    </div>

  </div>
</main>


