
<!--admin dash--> 
<main *ngIf="currentAccount === 'admin'" class="admin-container">
  
  <div class="admin container-fluid">

    <div class="row p-5">
      <!--dashboard body-->
      <div class="col-md-9">

        <div class="row">
          
          <div class="patients col-md-3 text-center rounded m-1 p-3" (click)="goPatientList()">
            <h3>TOTAL REGISTERED PATIENTS</h3>
            <p class="number-display">{{patients}}</p>
            <h6>
              Recent Patients: {{recentPatients}}
            </h6>
          </div>

          <div class="doctors col-md-3 text-center rounded m-1 p-3" (click)="goDoctorList()">
            <h3>TOTAL REGISTERED DOCTORS</h3>
            <p class="number-display">{{doctors}}</p>
            <h6>
              Recent Doctors: {{recentDoctors}}
            </h6>
          </div>

          <div class="doctors col-md-3 text-center rounded m-1 p-3 d-flex flex-column align-items-center justify-content-center" [routerLink]="['/settings/admin']">
            <h3>CHANGE ADMIN SETTINGS</h3>
            <h6>
              Click Here
            </h6>
          </div>

        </div>

        <div class="row p-1">

          <div class="graph col rounded mt-3 p-3 h-100">
           <p>GRAPH</p>
          </div>
          
        </div>


      </div>

      <!--recently added column-->
      <div class="col-md-3 text-center">

        <H2 class="mt-3 mb-3">RECENTLY ADDED ACCOUNTS</H2>

          <div class="account rounded mx-1 mb-1 p-2" 
          [routerLink]="['/profile','by-admin',data.accountType,data.userCode]"
          [ngStyle]="determineListBackground(data.accountType)" 
          *ngFor="let data of recentlyAddedUsers">
            <p><em>{{data.accountType}}</em></p>
            <h1>{{data.userName}}</h1>
            <p>Date Created: {{data.dateCreated}}</p>
          </div>
      </div>
    </div><!--main row-->
  </div><!--admin container-->
</main>


<!--doctor dash-->
<main *ngIf="currentAccount==='doctor'" class="main-Dcontainer">
  
  <div class="doctor container-fluid">

    <div class="row mx-4 mt-3">

      <div class="col-md-8">

        <div class="container my-3 d-flex justify-content-center">

          <div class="col-xl-12 ">

            <div class="row-md">
  
              <div class="welcome row bg-background-tertiary rounded text-center p-5 mx-3">
                <h3 class="card-title my-1">Welcome, Doctor ________</h3>
                <!-- <p class="card-text">Whatever you do, do with determination. You have one life to live; 
                  do your work with passion and give your best.</p> -->
              </div>
    
            </div>

          </div>

        </div>

        <div class="container my-3">

          <div class="row d-flex justify-content-around">

            <div class="totalPatients col-xl-5 bg-background-tertiary rounded text-center p-5 m-1">
              <h5 class="card-title"><i class="fas fa-user-md"></i> Total Patients</h5>
              <p class="card-text">0</p>
            </div>
  
            <div class="totalPrescriptions col-xl-5 bg-background-tertiary rounded text-center p-5 m-1">
              <h5 class="card-title"><i class="fas fa-file-prescription"></i> Total Prescriptions Given</h5>
              <p class="card-text">0</p>
            </div>
  
          </div>

        </div>
    

        <div class="container my-3">
          <div class="row d-flex justify-content-around">
            <div class="totalConsultations col-xl-5 bg-background-tertiary rounded text-center p-5 m-1">
              <h5 class="card-title"><i class="fas fa-user-md"></i>Total Consultations Attended</h5>
              <p class="card-text">0</p>
            </div>
  
            <div class="recentAppointments col-xl-5 bg-background-tertiary rounded text-center p-5 m-1">
              <h5 class="card-title"><i class="fas fa-file-prescription"></i>Recent Appointments</h5>
              <p class="card-text">0</p>
            </div>
          </div>
        </div>

      </div>
  
      <div class="checkup col-md-4 bg-background-tertiary rounded text-center my-3 p-3">
        <h2 class="card-title my-3">Checkup Appointments</h2>

        <div class="row"> 
          <p class="appointment card-text rounded p-1 m-1">APPOINTMENT #</p>
        </div>
        <div class="row">
          <p class="appointment card-text rounded p-1 m-1">APPOINTMENT #</p>
        </div>  
        <div class="row">
          <p class="appointment card-text rounded p-1 m-1">APPOINTMENT #</p>
        </div>  

      </div>

    </div>

  </div>

  
  <!-- <div class="Dcontainer welcome">
    <div class="card Dcustom-card">
      <div class="Dcard-body ">
        <h5 class="card-title">Welcome, Doctor</h5>
        <p class="card-text">Whatever you do, do with determination. You have one life to live; 
          do your work with passion and give your best.</p>
      </div>
    </div>
  </div>
  
  <div class="Dcontainer">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title"><i class="fas fa-user-md"></i> Total Patients</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-3">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title"><i class="fas fa-file-prescription"></i> Total Prescriptions Given</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title"><i class="fas fa-stethoscope"></i> Total Consultations Attended</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-3">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title"><i class="fas fa-calendar-alt"></i> Recent Appointments</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
    </div>
  
    CardRightSide
    <div class="row">
     <div class="Dcheckup-appointments-card ">
      <div class="col-md-12">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title">Checkup Appointments</h5>
            <p class="card-text">.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>       -->
</main>


<!--patient dash-->
<main *ngIf="currentAccount==='patient'" class="Pmain-container">

  <div class="patient container-fluid my-4">

    <div class="row">

      <div class="col-lg-7">

        <div class="greetings row-md rounded m-3 p-3 ">
          <h3>Hi!, ___________</h3>

          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">How are you feeling today?</label>
          </div>

        </div>  
  
  
        <div class="row d-flex justify-content-around">
  
          <div class="active-prescriptions col-lg-5 rounded text-center m-1 p-3">
            <h5 class="card-title">Active Prescriptions</h5>
            <p class="total">
                0
            </p>
          </div>
    
          <div class="my-doctors col--5 rounded text-center m-1 p-3">
            <h5>My Doctors</h5>
            <p class="total">
                0
            </p>
          </div>
        </div>
  
        <div class="booking row-md rounded m-3 p-5 ">
          <p>booking instructions</p>
        </div>
  
      </div>
  
      <div class="col-md-5 text-center mt-3">

        <h3 class="my-2 mb-4">SCHEDULED CHECKUP</h3>

        <div class="schedule-checkup row rounded mb-2 mx-3 p-2">
          <p>SCHEDULED CHECKUP #</p>
        </div>
        <div class="schedule-checkup row rounded mb-2 mx-3 p-2">
          <p>SCHEDULED CHECKUP #</p>
        </div>
        <div class="schedule-checkup row rounded mb-2 mx-3 p-2">
          <p>SCHEDULED CHECKUP #</p>
        </div>
        <div class="schedule-checkup row rounded mb-2 mx-3 p-2">
          <p>SCHEDULED CHECKUP #</p>
        </div>
  
      </div>

    </div>

  </div>

    <!-- <div class="Pcol1">

      <div class="Pcontainer Pwelcome">
        <div class="card Pcustom-card">
          <div class="Pcard-body ">
            <h5 class="card-title">Good Day!</h5>
            <p class="card-text">How are you feeling today?</p>
          </div>
        </div>
      </div>
        <div class="Phorizontal-container">
            <div class="Pprescription-list-container">
                <h2>Total Active Prescriptions</h2>
                <p></p>
                <p class="total">
                    0
                </p>
            </div>
            <div class="Pdoctor-list-container">
                <h2>My Doctors</h2>
                <p></p>
                <p class="total">
                    0
                </p>
            </div>
        </div>
        <div class="Pbooking-container">
            <div class="booking">
                Booking Instructions 
            </div>
        </div>
    </div>
    <div class="Pcol2">
        <h2>Scheduled Checkups</h2>
        <div class="schedule-list-container">
            <ul>
                <div class="sched">
                    <li>SunDate</li>
                    <li>Christmas Date</li>
                    <li>BirthDate</li>
                    <li>Samg date</li>
                    <li>NewYears date</li>
                </div>
            </ul>
        </div>
    </div> -->
</main>


