
<!--admin dash--> 
<main *ngIf="currentAccount === 'admin'" class="Amain-container">
  
  <div class="admin container-fluid">

    <div class="row">
      <div class="col-md-8">

        <div class="row">
          
          <div class="patients col-md gx-4 m-1" (click)="goPatientList()">
            <h3>TOTAL REGISTERED PATIENTS</h3>
            <p>{{patients}}</p>
            <h6>
              Recent Patients: {{recentPatients}}
            </h6>
          </div>

          <div class="doctors col-md gx-4 m-1" (click)="goDoctorList()">
            <h3>TOTAL REGISTERED DOCTORS</h3>
            <p>{{doctors}}</p>
            <h6>
              Recent Doctors: {{recentDoctors}}
            </h6>
          </div>

        </div>

        <div class="row">

          <div class="graph col-xxl">
           <p>GRAPH</p>
          </div>
          
        </div>


      </div>

      <div class="col-md-4">
        <H2>RECENTLY ADDED ACCOUNTS</H2>
        <div class="account row">
          account
        </div>
      </div>

    </div>
  </div>



  
  <!-- <div class="Acol1">
      <div class="Ahorizontal-container">
          <div class="Apatient-list-container" (click)="goPatientList()">
              <h2>TOTAL REGISTERED PATIENTS</h2>
              <p>{{patients}}</p>
              <p class="Arecent">
                  Recent Patients: {{recentPatients}}
              </p>
          </div>
          <div class="Adoctor-list-container" (click)="goDoctorList()">
              <h2>TOTAL REGISTERED DOCTORS</h2>
              <p>{{doctors}}</p>
              <p class="Arecent">
                  Recent Doctors: {{recentDoctors}}
              </p>
          </div>
      </div>
      <div class="Agraph-container">
          <div class="Agraph">
              Agraph
          </div>
          
      </div>
  </div>
  <div class="Acol2">
      <h2>Recently Added Accounts</h2>
      <div class="Aaccount-list-container">
          <ul>

          </ul>
      </div>
  </div> -->
</main>


<!--doctor dash-->
<main *ngIf="currentAccount==='doctor'" class="main-Dcontainer">
  <div class="Dcontainer welcome">
    <div class="card Dcustom-card">
      <div class="Dcard-body ">
        <h5 class="card-title">Welcome, Doctor</h5>
        <p class="card-text">Whatever you do, do with determination. You have one life to live; 
          do your work with passion and give your best.</p>
      </div>
    </div>
  </div>
  
  <div class="Dcontainer">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title"><i class="fas fa-user-md"></i> Total Patients</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-3">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title"><i class="fas fa-file-prescription"></i> Total Prescriptions Given</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title"><i class="fas fa-stethoscope"></i> Total Consultations Attended</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-3">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title"><i class="fas fa-calendar-alt"></i> Recent Appointments</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- CardRightSide-->
    <div class="row">
     <div class="Dcheckup-appointments-card ">
      <div class="col-md-12">
        <div class="card Dcustom-card">
          <div class="Dcard-body">
            <h5 class="card-title">Checkup Appointments</h5>
            <p class="card-text">.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>      
</main>


<!--patient dash-->
<main *ngIf="currentAccount==='patient'" class="Pmain-container">
    <div class="Pcol1">

      <div class="Pcontainer Pwelcome">
        <div class="card Pcustom-card">
          <div class="Pcard-body ">
            <h5 class="card-title">Good Day!</h5>
            <p class="card-text">How are you feeling today?</p>
          </div>
        </div>
      </div>
        <div class="Phorizontal-container">
            <div class="Pprescription-list-container">
                <h2>Total Active Prescriptions</h2>
                <p></p>
                <p class="total">
                    0
                </p>
            </div>
            <div class="Pdoctor-list-container">
                <h2>My Doctors</h2>
                <p></p>
                <p class="total">
                    0
                </p>
            </div>
        </div>
        <div class="Pbooking-container">
            <div class="booking">
                Booking Instructions 
            </div>
        </div>
    </div>
    <div class="Pcol2">
        <h2>Scheduled Checkups</h2>
        <div class="schedule-list-container">
            <ul>
                <div class="sched">
                    <li>SunDate</li>
                    <li>Christmas Date</li>
                    <li>BirthDate</li>
                    <li>Samg date</li>
                    <li>NewYears date</li>
                </div>
            </ul>
        </div>
    </div>
</main>


