//FOR ADMIN DASHBOARD

.admin{
  .account{
    color: white;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
    h1{
      font-size: 1.5rem;
      font-weight: 600;
    }
    p{
      font-size: 1rem;
      margin: 0;
    }
  }
  .doctors{
    background-color: #089293;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
    color: #fff;
    cursor: pointer;
  }
  .doctors:hover{
    background-color: #1db0b0;
  }
  .patients{
    background-color: #044B63;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
    color: #fff;
    cursor: pointer;
  }
  .patients:hover{
    background-color: #115b74;
  }
  .number-display{
    font-size: 2rem;
    font-weight: 800;
  }
  .graph{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
}

// .Amain-container, .Apatient-list-container, .Adoctor-list-container,
// .Ahorizontal-container, .Agraph-container, .Aaccount-list-container, .Acol1, .Acol2{
//     display: flex;
// }

// /*border-box prevents the elements from making the container grow*/
// .Acol1,.Ahorizontal-container,
// .Agraph-container,.Apatient-list-container,.Adoctor-list-container,.Agraph{
//     box-sizing: border-box;
//     padding: 1rem;
// }

// .Acol2{
//     box-sizing: border-box;
//     padding: 1rem;
// }

// .Amain-container{
//     height: 100%;
//     width: 100%;
//     gap: 0.5rem;
// }

// .Acol1{
//     flex-direction: column;
//     width: 100%;
    
//     .Ahorizontal-container{
//         flex-direction: row;
//         width: 70%;
//         gap: 1rem;
        
//         .Apatient-list-container{
//             background-color: #044B63;
//         }
//         .Apatient-list-container:hover{
//             background-color: #115b74;
//         }
//         .Adoctor-list-container{
//             background-color: #089293;
//         }
//         .Adoctor-list-container:hover{
//             background-color: #1db0b0;
//         }
//         .Apatient-list-container,.Adoctor-list-container{
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             width: auto;
//             padding: 1rem;
//             border-radius: 5px;
//             box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
//             cursor: pointer;
            
//             h2{
//                 text-align: left;
//                 font-size: 1rem;
//                 font-style: bold;
//                 margin-bottom: 0.5rem;
//                 color: white;
//             }
//             p{
//                 font-weight: 400;
//                 font-size: 2rem;
//                 margin-bottom: 0.5rem;
//                 color: white;
//             }
//             .Arecent{
//                 margin: 0;
//                 font-size: 0.7rem;
//                 font-weight: 50;
//             }
//         }
        
//     }
    
//     .Agraph-container{
//         height: 100%;
//         .Agraph{
//             width: 100%;
//             background-color: #F9F9F9;
//             border-radius: 8px;
//             box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
//         }
//     }
// }

// .Acol2{
//     flex-direction: column;
//     padding-top: 2rem;
//     margin-left: auto;
//     h2{
//         text-align: center;
//         margin-bottom: 1rem;
//     }
//     .Aaccount-list-container{
//         flex-direction: column;
//         align-items: center;
//         ul{
//             width: 100%;
//         }
//     }
// }

// /*tablet*/
// @media screen and (max-width:801px){
//     .Amain-container{
//         flex-direction: column;
//         align-items: center;
//     }
//     .Acol1{
//         width: auto;
//         .Ahorizontal-container{
//             align-items: center;
//             .Apatient-list-container, .Adoctor-list-container{
//                 width: 80%;
//             }
//         }
//     }
//     .Acol2{
//         width: 90%;
//         margin-left: 0;
//     }
// }

// /*mobile*/
// @media screen and (max-width:600px){
//     .Acol1{

//         .Ahorizontal-container{
//             flex-direction: column;
//             .Apatient-list-container, .Adoctor-list-container{
//                 width: 100%;
//             }
//         }
//     }
    
// }


//FOR DOCTOR DASHBOARD
// lagyan nyo nalang ulit ng styles like bg color hehe

.doctor{
  h3{
    font-size: 2rem;
    font-weight: 700;
  }
  .h2{
    font-size: 1rem;
    font-weight: 700;
  }
  h5{
    font-size: 1.25rem;
    font-weight: 700;
  }
  p, .card-text{
    font-size: 1.25rem;
  }

  .welcome{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .totalPatients{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .totalPrescriptions{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .totalConsultations{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .recentAppointments{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .checkup{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
}
// .Dcontainer {
//   display: flex;
//   justify-content: space-around;
//   margin: 20px auto;
//   flex-wrap: wrap;
// }
// .welcome{
//   width: 35%;
// }
// .Dcustom-card {
//   border-radius: 10px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   margin: 10px;
//   background: linear-gradient(150deg, rgba(126,164,179,1) 0%, rgba(60,180,180,1) 98%);
// }

// .Dcustom-card:hover {
//   background: linear-gradient(150deg, rgb(153, 198, 216) 0%, rgb(49, 159, 159) 98%);
//   cursor: pointer;
// }
// .welcome{
//   width: 40%;
// }
// .Dcustom-card .Dcard-body {
//   padding: 50px;
  
// }

// .Dcustom-card h5 {
//   color: white;  /*text color */
//   font-size: 1.4rem;
//   font-style: bold;
//   font-family: Arial, Helvetica, sans-serif;
// font-style: italic;
// }

// .Dcustom-card p {
//   color: rgb(56, 56, 56);   
//   font-size: 1rem;
// }


// @media (max-width: 100px) {
//   .Dcontainer {
//     flex-direction: column;
//   }
// }
// .Dcheckup-appointments-card {
//   width: calc(100% - 20px); 
//   max-width: 100%;
// }


//FOR PATIENT DASHBOARD

.patient{

  h3{
    font-weight: 700;
    color: #393939;
  }
  h5{
    font-weight: 700;
  }
  .greetings{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .active-prescriptions{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .my-doctors{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .booking{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
  .schedule-checkup{
    background-color: #F9F9F9;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
  }
}

// .Pmain-container, .Pprescription-list-container, .Pdoctor-list-container,
// .Phorizontal-container, .Pbooking-container, .schedule-list-container, .Pcol1, .Pcol2{
//     display: flex;
// }

// /*border-box prevents the elements from making the container grow*/
// .Pcol1,.Pcol2,.Phorizontal-container,
// .Pbooking-container,.Pprescription-list-container,.Pdoctor-list-container,.Pgraph{
//     box-sizing: border-box;
//     padding: 1rem;
// }

// .Pmain-container{
//     height: 100%;
//     width: 80%;
//     gap: 0.5rem;
//     display: flex;
//     margin: 20px auto;
// }

// .Pcol1{
//     flex-direction: column;
//     width: 80%;
    
//     .Phorizontal-container{
//         flex-direction: row;
//         width: 100%;
//         gap: 1rem;
//         justify-content: center;
//         .Pprescription-list-container{
//             background: radial-gradient(circle, rgb(84, 223, 193)  1%, rgb(75, 212, 182) 84%);
//         }
//         .Pprescription-list-container:hover{
//             background: radial-gradient(circle, rgb(74, 197, 170)  1%, rgb(75, 212, 183) 84%);
//             cursor: pointer;
//         }
//         .Pdoctor-list-container{
//             background: radial-gradient(circle, rgb(84, 223, 193)  1%, rgb(75, 212, 183) 84%);
//         }
//         .Pdoctor-list-container:hover{
//             background: radial-gradient(circle, rgb(74, 197, 170)  1%, rgb(75, 212, 183) 84%);
//             cursor: pointer;
//         }
//         .Pprescription-list-container,.Pdoctor-list-container{
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             width: 50%;
//             padding: 2.5rem;
//             border-radius: 8px;
//             box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
//             cursor: pointer;
            
//             h2{
//                 text-align: center;
//                 font-size: 1.5rem;
//                 margin-bottom: 2rem;
//                 font-family: Arial, Helvetica, sans-serif;
// 	            font-style: italic;
//                 color: white;
//             }

//             p{
//                 font-weight: 700;
//                 font-size: 3rem;
//                 margin-bottom: 2rem;
//                 color: rgb(238, 238, 238);
                
//             }


//             .total{
//                 margin: 0;
//                 font-size: 1rem;
//             }
//         }
        
//     }
    
//     .Pbooking-container{
//         height: 100%;
//         .booking{
//             width: 100%;
//             background-color: #F9F9F9;
//             border-radius: 8px;
//             box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
//         }
//     }
// }

// .Pcol2{
//     flex-direction: column;
//     padding-top: 2rem;
//     margin-left: auto;
//     h2{
//         text-align: center;
//         margin-bottom: 2rem;
//     }
//     .schedule-list-container{
//         flex-direction: column;
//         align-items: center;
//         ul{
//             width: 100%;
//         }
//         .sched li{
//             max-width: 80%;
//             background: linear-gradient(90deg, rgb(37, 211, 173)  1%, rgb(159, 230, 214) 84%);
//             border-radius: 8px;
//             box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
//             padding: 9px;
//             margin: 4px;
//             text-align:center;
//             color: white;
//         }

//         .sched li:hover{
//             background: rgb(223, 223, 223);
//             color: black;
//             cursor: pointer;
//         }
//     }
// }

// .Pcontainer {
//     display: flex;
//     justify-content: space-around;
//     margin: 20px auto;
//     flex-wrap: wrap;
//   }
//   .Pwelcome{
//     width: 200%;
//   }
//   .Pcustom-card {
//     border-radius: 10px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     margin: 10px;
//     background: radial-gradient(circle, rgb(84, 223, 193)  1%, rgb(75, 212, 182) 84%);
//   }
  
//   .Pcustom-card:hover {
//     background: radial-gradient(circle, rgb(74, 197, 170)  1%, rgb(75, 212, 183) 84%);
//     cursor: pointer;
//   }
//   .Pwelcome{
//     width: 40%;
//   }
//   .Pcustom-card .Pcard-body {
//     padding: 50px;
    
//   }
  
//   .Pcustom-card h5 {
//     color: white;  /*text color */
//     font-size: 1.4rem;
//     font-style: bold;
//     font-family: Arial, Helvetica, sans-serif;
// 	font-style: italic;
//   }
  
//   .Pcustom-card p {
//     color: rgb(56, 56, 56);   
//     font-size: 1rem;
//   }


// /*tablet*/
// @media screen and (max-width:801px){
//     .Pmain-container{
//         flex-direction: column;
//         align-items: center;
//     }
//     .Pcol1{
//         width: auto;
//         .Phorizontal-container{
//             align-items: center;
//             .Pprescription-list-container, .Pdoctor-list-container{
//                 width: 80%;
//             }
//         }
//     }
//     .Pcol2{
//         width: 90%;
//         margin-left: 0;
//         display:flex;
        
//     }
// }

// /*mobile*/
// @media screen and (max-width:600px){
//     .Pcol1{

//         .Phorizontal-container{
//             flex-direction: column;
//             .Pprescription-list-container, .Pdoctor-list-container{
//                 width: 100%;
//             }
//         }
//     }
//     .Pcol2{
//         width: 90%;
//         margin-left: 0;
//     }
// }
    

