.icon-container,.details-container{
    display: flex;
}
.details-container{
    flex-direction: column;
}
svg{
    padding: 0;
    width: 2.5rem;
    margin-right: 0.6rem;
}
li{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    background-color: #90efc3;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    
    cursor: pointer;
}
li:hover{
    background-color: rgb(77, 199, 142);
}
.doctor{
    background-color: #90e0ef;
}
.doctor:hover{
    background-color: #54b6c7;
}
p{
    margin-bottom: 0.2rem;
}
p.name{
    font-style: italic;
    font-size: 1.15rem;
}
p.creation-date{

}