.sidenav{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 15rem;
    background-color: rgb(206, 255, 220);
    padding: 2rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);

    li{
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    a{
        cursor: pointer;
    }
    .sidenav-subitems{
        margin-top: 1rem;
        margin-left: 1rem;
        svg{
            margin-right: 0.25rem;
        }
        li{
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }
}

/*tablet view*/
@media screen and (max-width: 800px){

}

/*mobile view*/
@media screen and (max-width: 600px) {
    .sidenav{
        flex-direction: row;
        width: 100vw;
        height: auto;
        padding: 1.2rem;
        overflow: wrap;

        li{
            font-size: 1rem;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }
        .sidenav-subitems{
            display: none;
            margin-top: 1rem;
            margin-left: 0;

            li{
                display: inline;
                white-space: nowrap;
                overflow-wrap: break-word;
            }
        }
        .sidenav-items{
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
        }
    }
    li{
        display: inline;
        margin-left: 1rem;
    }   
  }