.sidenav{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 15rem;
    background-color: rgb(206, 255, 220);
    padding: 2rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);

    li, .dropdown-btn{
        font-size: 1.3rem;
        font-weight: 700;
        cursor: pointer;
    }
    li{
      padding: 8px;
      margin-bottom: 1rem;
    }
    li:hover{
      background-color: rgb(1, 33, 1);
    }
    a{
        cursor: pointer;
    }
    .sidenav-subitems{
        margin-top: 1rem;
        margin-left: 1rem;
        svg{
            margin-right: 0.25rem;
        }
        li{
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }
}


  /* app.component.css 
.myProfile {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .myProfile:hover .dropdown {
    display: flex;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  li:hover {
    background-color: #f0f0f0;
  }/

  /* Style for the dropdown container */
  .myProfile {
    position: relative;
    display: inline-block;
  }

  /* Style for the dropdown button */
  .dropdown-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(206, 255, 220);
    margin: 0;
    padding: 0;
  }

  /* Style for the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    li{
      font-size: 1rem;
      margin: 0;
    }
    
    a:hover{
      color: green;
    }

  }

  /* Style for dropdown content links */
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
  }

  /* Show the dropdown content when the dropdown button is focused */
  .myProfile:focus-within .dropdown-content {
    display: block;
  }
  
/*tablet view*/
@media screen and (max-width: 800px){
  .sidenav{
    flex-direction: row;
    width: 100vw;
    height: auto;
    padding: 1.2rem;
    overflow: wrap;

    .dropdown-btn{
        font-size: 1rem;
        margin-top: 0.75rem;
    }
    .dropdown-content{
      margin-top: 0.4rem;
      position: absolute;
    }
    li{
        font-size: 1rem;
        margin-top: 0.25rem;
        margin-bottom: 0.2rem;
    }
    .sidenav-subitems{
        display: none;
        margin-top: 1rem;
        margin-left: 0;

        li{
            display: inline;
        }
    }
    .sidenav-items{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
  }
  
  li{
      display: inline;
      margin-left: 1rem;
  }   
}

/*mobile view*/
@media screen and (max-width: 600px) {
  .sidenav{
    flex-direction: row;
    width: 100vw;
    height: auto;
    padding: 1.2rem;
    overflow: wrap;

    .dropdown-btn{
        font-size: 1rem;
        margin-top: 0.75rem;
    }
    .dropdown-content{
      margin-top: 0.4rem;
      position: absolute;
    }
    li{
        font-size: 1rem;
        margin-top: 0.25rem;
        margin-bottom: 0.2rem;
    }
    .sidenav-subitems{
        display: none;
        margin-top: 1rem;
        margin-left: 0;

        li{
            display: inline;
        }
    }
    .sidenav-items{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
  }
  
  li{
      display: inline;
      margin-left: 1rem;
  }   
}