<main class="main-container">
    <div class="col1">
        <div class="horizontal-container">
            <div class="prescription-list-container">
                <h2>Total Active Prescriptions</h2>
                <p></p>
                <p class="total">
                    0
                </p>
            </div>
            <div class="doctor-list-container">
                <h2>My Doctors</h2>
                <p></p>
                <p class="total">
                    0
                </p>
            </div>
        </div>
        <div class="booking-container">
            <div class="booking">
                Booking Instructions 
            </div>
        </div>
    </div>
    <div class="col2">
        <h2>Scheduled Checkups</h2>
        <div class="schedule-list-container">
            <ul>
                <div class="sched">
                    <li>SunDate</li>
                    <li>Christmas Date</li>
                    <li>BirthDate</li>
                    <li>Samg date</li>
                    <li>NewYears date</li>
                    
                </div>
            </ul>
        </div>
    </div>
    
</main>


