<main>
  <div class="background"></div>
  <div class="color-filter"></div>
  <div class="main-content">
    <div class="image"></div>
    <div class="content">
      <img src="../../assets/images/mediwise_logo.png" class="logo">
      <h3 class="mb-4">MediWISE</h3>
      <h1 class="title"><span class="highlight">OUR</span> patient management system.</h1>
      <p class="para mb-4">
        Welcome to the future of healthcare administration! Our cutting-edge patient management platform is here to redefine how healthcare 
        providers and patients experience seamless, efficient, and personalized care. From effortless appointment scheduling to secure medical 
        record management, we've crafted an intuitive solution that puts the focus back on what matters most – patient well-being. Discover the 
        power of streamlined operations, enhanced communication, and data-driven insights. Welcome to a new era of healthcare management, where 
        technology meets compassion. Embrace the future with us!
      </p>
      <div class="row gap-2 w-50 align-self-center ">
        <button class="btn btn-success" [routerLink]="['/register']"> Sign Up</button>
        <div class="btn btn-secondary  " [routerLink]="['/login']">Log In</div>
      </div>
      
    </div>
  </div>
  
</main>