main{
    display: flex;
    justify-content: center;
}
app-back-button{
    display: flex;
    width: 2.2rem;
}
div{
    display: flex;
}
.container{
    max-width: 800px;
    padding: 2rem;
    margin-top: 3.5rem;
    .title-container{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}