app-sidenav, app-screen{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.vertical-container{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    
    .topnav-container{
        height: 4rem;
        flex-shrink: 0;
    }

    .horizontal-container{
        display: flex;
        flex-direction: row;
        height: 92vh;
        .sidenav-container{
            display: flex;
            width: auto;
        }
        .screen-container{
            display: flex;
            width:100%;
            overflow-y: auto;
            box-sizing: border-box;
                 /*top right bottom left*/
        }
    }
}

/*tablet size*/
@media screen and (max-width: 800px) {
    app-screen, app-sidenav{
        width: 100vw;
    }
    .vertical-container{
        flex-direction: column;
        
        .horizontal-container{
            flex-direction: column;
            width: 100vw;
            height: 100%;

            .sidenav-container{
                height: auto;
                width: auto;
            }
            .screen-container{
                height: 100%;
                width: auto;
                flex-shrink: 0;
            }      
        }
    }
}

/*mobile size*/
@media screen and (max-width: 600px) {
    .screen-container{
        height: 100%;
        width: auto;
        flex-shrink: 0;
    }  
}
