.container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
}

.custom-card {
  border: 1px solid #4CAF50; /* border color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.custom-card .card-body {
  padding: 50px;
  width: 50%;
}

.custom-card h5 {
  color: #4CAF50; /* text color */
}

.custom-card p {
  color: #666;
}

@media (max-width: 100px) {
  .container {
    flex-direction: column;
  }
}
.checkup-appointments-card {
  width: calc(100% - 20px); 
  max-width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px; 
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.card-body {
  padding: 15px;
}


.col {
  flex: 1;
  margin: 0 10px;
  box-sizing: border-box;
}

.col-6 {
  flex-basis: calc(50% - 20px);
}

.row-end {
  display: flex;
  justify-content: flex-end;
}