<div class="card">
    <div class="card-body">
      <h5 class="card-title">Welcome, Doctor</h5>
    hahalol
    </div>
  </div>
  <div class="row">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Total Patients</h5>
     0
      <p class="card-text"></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Total Prescriptions Given</h5>
      0
      <p class="card-text"></p>
    </div>
  </div>
</div>

<div class="row">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Total Consultations Attended</h5>
   0
    <p class="card-text"></p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Recent Appointments</h5>
    0
    <p class="card-text"></p>
  </div>
</div>
</div>

    