<div class="container">
  <div class="card custom-card">
    <div class="card-body">
      <h5 class="card-title">Welcome, Doctor</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-user-md"></i> Total Patients</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-file-prescription"></i> Total Prescriptions Given</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-stethoscope"></i> Total Consultations Attended</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-calendar-alt"></i> Recent Appointments</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>
  </div>

  <!-- CardRightSide-->
  <div class="row">
   <div class="checkup-appointments-card ">
    <div class="col-md-12">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">Checkup Appointments</h5>
          <p class="card-text">.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
