<div class="container">

    <div class="card shadow p-5 my-5">
      <div class="hstack">
        <h1>{{userType}} profile</h1>
        <div class="mx-auto"></div>
        <button class="btn btn-secondary " *ngIf="currentUser==='admin'&&editMode==false" (click)="btnEdit()">Edit</button>
        <button class="btn btn-danger me-2" *ngIf="currentUser==='admin'&&editMode==true" (click)="btnEdit()">Discard Changes</button>
        <button class="btn btn-success" *ngIf="currentUser==='admin'&&editMode==true" (click)="btnEdit()">Save Changes</button>
      </div>
      
      <div class="row">

          <!--col 1-->
          <div class="col-lg-5">
            
            <div class="mb-3">
              <label for="ai">CODE:</label>
              <h3>{{userID}}</h3>
            </div>

            <div class="mb-3">
              <label for="profile-image" class="image-preview">
                <img class="shadow rounded-circle" id="image-preview" src="../../../../assets/svg/person_placeholder.svg" alt="Profile Image">
              </label>
            </div>

            <div class="mb-3" *ngIf="editMode===true">
                <input type="file" id="profile-image" name="profile-image" accept="image/*" onchange="previewImage(event)">
            </div>

            <div class="row">
              <label for="txtName" class="form-label">Name:</label>
              <div class="col-lg mb-3">
                <input type="text" id="txtFName" class="form-control" placeholder="fname" disabled>
              </div>
              <div class="col-lg mb-3">
                <input type="text" id="txtLName" class="form-control" placeholder="lname" disabled>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="address">Address:</label>
              <textarea class="form-control" id="address" name="address" disabled></textarea>
            </div>
            <div *ngIf="userType==='doctor'">
              <div class="mb-3">
                <label for="txtSP" class="form-label">Specialty:</label>
                <input type="text" id="txtSP" class="form-control" placeholder="specialty" disabled>
              </div>
              <div class="mb-3">
                <label for="txtSBSP" class="form-label">Subspecialty:</label>
                <input type="text" id="txtSBSP" class="form-control" placeholder="subspecialty" disabled>
              </div>
            </div>
            
            <button class="btn btn-lg btn-success" *ngIf="byWho==='by-patient'">Book an Appointment</button>
          </div>

          <!--col 2-->
          <div class="col gap-2"><!--edit field-->
            <div *ngIf="userType==='doctor'">
              <p>Clinic Schedule(s):</p>
              <button class="btn btn-sm btn-primary mb-3" *ngIf="editMode===true">Add a new schedule</button>
              <div class="mb-3">
                <h3>Clinic Name</h3>
                <h6>Clinic name, Clinic street, Clinic City, Clinic Province</h6>
                <h6>Days,Of,The,Week</h6>
                <h6>Start:Time - End:Time</h6>
                <button class="btn btn-sm btn-danger" *ngIf="editMode===true">
                  Remove this Schedule
                </button>
              </div>
              <div class="mb-3">
                <h3>Clinic Name</h3>
                <h6>Clinic name, Clinic street, Clinic City, Clinic Province</h6>
                <h6>Days,Of,The,Week</h6>
                <h6>Start:Time - End:Time</h6>
                <button class="btn btn-sm btn-danger" *ngIf="editMode===true">
                  Remove this Schedule
                </button>
              </div>
              <div class="mb-3">
                <h3>Clinic Name</h3>
                <h6>Clinic name, Clinic street, Clinic City, Clinic Province</h6>
                <h6>Days,Of,The,Week</h6>
                <h6>Start:Time - End:Time</h6>
                <button class="btn btn-sm btn-danger" *ngIf="editMode===true">
                  Remove this Schedule
                </button>
              </div>

            </div>

            <div *ngIf="userType==='patient'">
              <div class="mb-3">
                <label class="form-label" for="sex">Gender:</label>
                <select class="form-control" id="sex" name="sex" disabled>
                  <option value="">- Select your gender -</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>>
                  <option value="undecided">Prefer not to say</option>>
                </select>
              </div>
  
              <div class="row mb-3">
                <div class="col-lg">
                  <label class="form-label" for="height">Height (cm):</label>
                  <input class="form-control" type="number" id="height" name="height" disabled>
                </div>
                <div class="col-lg">
                  <label class="form-label" for="weight">Weight (kg):</label>
                  <input class="form-control"  type="number" id="weight" name="weight" disabled>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="religion">Religion:</label>
                <input class="form-control"  type="text" id="religion" name="religion" disabled>
              </div>

              <div class="mb-3">
                <label class="form-label" for="nationality">Nationality:</label>
                <input class="form-control" type="text" id="nationality" name="nationality" disabled>
              </div>

              <div class="mb-3">
                <label class="form-label" for="maritalStatus">Marital Status:</label>
                <select class="form-control" id="maritalStatus" name="maritalStatus" disabled>
                  <option value="">- - -</option>
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="divorced">Divorced</option>
                </select>
              </div>
              
            </div>

          </div><!--maincol-->
          <div class="records" *ngIf="userType==='patient'">
            <p>Medical Records:</p>
        </div>
      </div><!--row-->
    </div>

</div>