<div class="container">

    <div class="card shadow p-5 my-5">
      <div class="hstack mb-2">
        <h1>{{capitalize(userType)}} Profile</h1>
        <div class="mx-auto"></div>
        <button class="btn btn-secondary " *ngIf="allowEdit&&editMode==false" (click)="btnEdit()">Edit</button>
        <button class="btn btn-danger me-2" *ngIf="allowEdit&&editMode" (click)="btnEdit()">Discard Changes</button>
        <button class="btn btn-success" *ngIf="allowEdit&&editMode" (click)="btnEdit()">Save Changes</button>
      </div>
      
      <div class="row">

          <!--col 1-->
          <div class="col-lg-5">
            <div class="row mb-3">
              <div class="col-lg-5">
                <label for="ai">ID Number:</label>
                <h3>{{userID}}</h3>
              </div>
              <div class="col">
                <label for="profile-image" class="image-preview">
                  <img class="shadow rounded-circle" id="image-preview" src="../../../../assets/svg/person_placeholder.svg" alt="Profile Image">
                </label>
              </div>
            </div>

            <div class="mb-3" *ngIf="editMode===true">
                <input type="file" id="profile-image" name="profile-image" accept="image/*" onchange="previewImage(event)">
            </div>

            <div class="row">
              <label for="txtName" class="form-label">Name:</label>
              <div class="col-lg mb-3">
                <input type="text" id="txtFName" class="form-control" placeholder="fname" disabled>
              </div>
              <div class="col-lg mb-3">
                <input type="text" id="txtLName" class="form-control" placeholder="lname" disabled>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="address">Address:</label>
              <textarea class="form-control" id="address" name="address" disabled></textarea>
            </div>
            <div *ngIf="userType==='doctor'">
              <div class="mb-3">
                <label for="txtSP" class="form-label">Specialty:</label>
                <input type="text" id="txtSP" class="form-control" placeholder="specialty" disabled>
              </div>
              <div class="mb-3">
                <label for="txtSBSP" class="form-label">Subspecialty:</label>
                <input type="text" id="txtSBSP" class="form-control" placeholder="subspecialty" disabled>
              </div>
              <button class="btn btn-lg btn-success" *ngIf="currentUser==='patient'">Book an Appointment</button>
            </div>
            
            
          </div>

          <!--col 2-->
          <div class="col gap-2"><!--edit field-->
            <div *ngIf="userType==='doctor'">
              <p>Clinic Schedule(s):</p>
              <button class="btn btn-sm btn-primary mb-3" *ngIf="editMode===true" data-bs-toggle="modal" data-bs-target="#schedModal">
                Add a new schedule
              </button>
              <div class="mb-3">
                <h3>Clinic Name</h3>
                <h6>Clinic name, Clinic street, Clinic City, Clinic Province</h6>
                <h6>Start:Time - End:Time</h6>
                <h6>Days,Of,The,Week</h6>
                <button class="btn btn-sm btn-danger" *ngIf="editMode===true">
                  Remove this Schedule
                </button>
              </div>
              <div class="mb-3">
                <h3>Clinic Name</h3>
                <h6>Clinic name, Clinic street, Clinic City, Clinic Province</h6>
                <h6>Start:Time - End:Time</h6>
                <h6>Days,Of,The,Week</h6>
                <button class="btn btn-sm btn-danger" *ngIf="editMode===true">
                  Remove this Schedule
                </button>
              </div>
              <div class="mb-3">
                <h3>Clinic Name</h3>
                <h6>Clinic name, Clinic street, Clinic City, Clinic Province</h6>
                <h6>Start:Time - End:Time</h6>
                <h6>Days,Of,The,Week</h6>
                <button class="btn btn-sm btn-danger" *ngIf="editMode===true">
                  Remove this Schedule
                </button>
              </div>

            </div>

            <div *ngIf="userType==='patient'">
              <div class="mb-3">
                <label class="form-label" for="sex">Gender:</label>
                <select class="form-control" id="sex" name="sex" disabled>
                  <option value="">- Select your gender -</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>>
                  <option value="undecided">Prefer not to say</option>>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label">Birth Date</label>
                <input class="form-control " type="date" id="bDate" disabled>
              </div>
  
              <div class="row mb-3">
                <div class="col-lg">
                  <label class="form-label" for="height">Height (cm):</label>
                  <input class="form-control" type="number" id="height" name="height" disabled>
                </div>
                <div class="col-lg">
                  <label class="form-label" for="weight">Weight (kg):</label>
                  <input class="form-control"  type="number" id="weight" name="weight" disabled>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="religion">Religion:</label>
                <input class="form-control"  type="text" id="religion" name="religion" disabled>
              </div>

              <div class="mb-3">
                <label class="form-label" for="nationality">Nationality:</label>
                <input class="form-control" type="text" id="nationality" name="nationality" disabled>
              </div>

              <div class="mb-3">
                <label class="form-label" for="maritalStatus">Marital Status:</label>
                <select class="form-control" id="maritalStatus" name="maritalStatus" disabled>
                  <option value="" disabled selected>- Select Status -</option>
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="divorced">Divorced</option>
                </select>
              </div>
              
            </div>

          </div><!--maincol-->
          <div class="records" *ngIf="userType==='patient'">
            <p>Medical Records:</p>
        </div>
      </div><!--row-->
    </div>

    <!--modals-->
    <!--add schedule modal-->
    <div class="modal fade" id="schedModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Schedule</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <div class="mb-3">
              <span class="form-label">Name of Clinic</span>
              <input class="form-control" type="text" id="txtClinicName">
            </div>
            <div class="mb-3">
              <span class="form-label">Address</span>
              <input class="form-control" type="text" id="txtClinicAddress">
            </div>
            <div class="row mb-3">
              <div class="col-lg">
                <span class="form-label">Start Time</span>
                <input class="form-control" type="time" id="txtStartTime">
              </div>
              <div class="col-lg">
                <span class="form-label">End Time</span>
                <input class="form-control" type="time" id="txtEndTime">
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <span class="form-label">Days</span>
              </div>
              <div class="hstack gap-1">
                <input type="checkbox" class="btn-check" id="chkMon" autocomplete="off">
                <label class="btn btn-outline-success" for="chkMon">M</label>
  
                <input type="checkbox" class="btn-check" id="chkTue" autocomplete="off">
                <label class="btn btn-outline-success" for="chkTue">T</label>
  
                <input type="checkbox" class="btn-check" id="chkWed" autocomplete="off">
                <label class="btn btn-outline-success" for="chkWed">W</label>
  
                <input type="checkbox" class="btn-check" id="chkThu" autocomplete="off">
                <label class="btn btn-outline-success" for="chkThu">Th</label>
  
                <input type="checkbox" class="btn-check" id="chkFri" autocomplete="off">
                <label class="btn btn-outline-success" for="chkFri">F</label>
  
                <input type="checkbox" class="btn-check" id="chkSat" autocomplete="off">
                <label class="btn btn-outline-success" for="chkSat">S</label>
  
                <input type="checkbox" class="btn-check" id="chkSun" autocomplete="off">
                <label class="btn btn-outline-success" for="chkSun">S</label>
              </div>
            </div>
            
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </div>
</div>