<div class="background">

    <div class="container">
        <div class="profileContainer">

            <div class="image-container">

                <div>
                  <label for="profile-image" class="image-preview">
                    <img id="image-preview" src="image.jpg" alt="Profile Image">
                  </label>
                  

                </div>

                <div>
                    <input type="file" id="profile-image" name="profile-image" accept="image/*" onchange="previewImage(event)">
                </div>

                <div class="image-upload">
                    <label for="ai">CODE:</label>
                </div>

                <button >Book an <br> Appointment</button>

            </div>

            <div class="info-container">

                <div class="name">
                    <p>Name:</p>
                </div>

                <div class="specialty">
                    <p>Specialty:</p>
                </div>

                <div class="clinic-sched">
                    <p>Clinic Schedule (date and time):</p>
                </div>

                <div class="clinic">
                    <p>Available clinics:</p>
                </div>

                <div class="records">
                    <p>Your Medical Records:</p>
                </div>
            </div>

            <div class="subspeciality">
                <p>Subspecialty:</p>
            </div>


        </div>
    </div>

</div>