.para{
    padding: 0rem 5rem 0rem 5rem;
}
img{
    width: 75vw;
    height: 30vh;
    object-fit: cover;
    box-shadow: 2px 2px 8px black;
    margin: 1rem 0 1rem 0;
}
*{
    font-style: Inter, sans-serif;
    line-height: 1.8rem;
}
h1, h2, p, ol, ul{
    margin: 1rem;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    
}
h2{
    font-size: 1.5rem;
    font-style: italic;
}
p{

}
ol, ul{
    padding: 1rem;
}
ol{
    list-style: decimal;
    font-weight: 700;
    li{
        font-weight: 300;
        margin-bottom: 1rem;
    }
}
ul{
    list-style: disc;
    li{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px){
    .para{
        padding: 0rem 0.5rem 0rem 0.5rem;
    }
    h1, h2, p, ol, ul{
        margin: 0.5rem;
    }
    img{
        width: 85vw;
        margin-left: 1.5rem;
    }
}
