<div class="container">

    <div class="firstBlock">

        <div class="containerTop">

            <div class="right">
                <h2>TOTAL REGISTERED PATIENTS</h2>
                <p>=   {{patients}} </p>

                <h3>
                    RECENT PATIENTS: {{recentPatients}}
                </h3>
            </div>

            <div class="left">
                <h2>TOTAL REGISTERED DOCTORS</h2>
                <p>=   {{doctors}} </p>
            </div>

        </div>

        <div class="containerBottom">

        </div>

    </div>
    

    <div class="secondBlock">
        
        <ul>
            <li>
                <img src="assets/images/account.png" alt="account">
                <p>
                    PATIENT: Andrew Solomon
                </p>
            </li>

            <li>
                <img src="assets/images/account.png" alt="account">
                <p>
                    PATIENT: Christ Juganas
                </p>
            </li>

            <li>
                <img src="assets/images/account.png" alt="account">
                <p>
                    DOCTOR: Ramil Rodriguez
                </p>
            </li>

            <li>
                <img src="assets/images/account.png" alt="account">
                <p>
                    DOCTOR: Rev Feliciano
                </p>
            </li>

            <li>
                <img src="assets/images/account.png" alt="account">
                <p>
                    PATIENT: Maui Santiago
                </p>
            </li>

            <li>
                <img src="assets/images/account.png" alt="account">
                <p>
                    PATIENT: Beatriz Abarientos
                </p>
            </li>
        </ul>

    </div>

</div>
