.main-container, .patient-list-container, .doctor-list-container,
.horizontal-container, .graph-container, .account-list-container, .col1, .col2{
    display: flex;
}

/*border-box prevents the elements from making the container grow*/
.col1,.horizontal-container,
.graph-container,.patient-list-container,.doctor-list-container,.graph{
    box-sizing: border-box;
    padding: 1rem;
}

.col2{
    box-sizing: border-box;
    padding: 1rem;
}

.main-container{
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}

.col1{
    flex-direction: column;
    width: 100%;
    
    .horizontal-container{
        flex-direction: row;
        width: 70%;
        gap: 1rem;
        
        .patient-list-container{
            background-color: #044B63;
        }
        .patient-list-container:hover{
            background-color: #115b74;
        }
        .doctor-list-container{
            background-color: #089293;
        }
        .doctor-list-container:hover{
            background-color: #1db0b0;
        }
        .patient-list-container,.doctor-list-container{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: auto;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.6);
            cursor: pointer;
            
            h2{
                text-align: left;
                font-size: 1rem;
                font-style: bold;
                margin-bottom: 0.5rem;
                color: white;
            }
            p{
                font-weight: 400;
                font-size: 2rem;
                margin-bottom: 0.5rem;
                color: white;
            }
            .recent{
                margin: 0;
                font-size: 0.7rem;
                font-weight: 50;
            }
        }
        
    }
    
    .graph-container{
        height: 100%;
        .graph{
            width: 100%;
            background-color: #F9F9F9;
            border-radius: 8px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        }
    }
}

.col2{
    flex-direction: column;
    padding-top: 2rem;
    margin-left: auto;
    h2{
        text-align: center;
        margin-bottom: 1rem;
    }
    .account-list-container{
        flex-direction: column;
        align-items: center;
        ul{
            width: 100%;
        }
    }
}

/*tablet*/
@media screen and (max-width:801px){
    .main-container{
        flex-direction: column;
        align-items: center;
    }
    .col1{
        width: auto;
        .horizontal-container{
            align-items: center;
            .patient-list-container, .doctor-list-container{
                width: 80%;
            }
        }
    }
    .col2{
        width: 90%;
        margin-left: 0;
    }
}

/*mobile*/
@media screen and (max-width:600px){
    .col1{

        .horizontal-container{
            flex-direction: column;
            .patient-list-container, .doctor-list-container{
                width: 100%;
            }
        }
    }
    
}